html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;;
}

a {
    text-decoration: none;
    font-family: inherit;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black; /*dev*/
    padding: 2.5vh 3vh;
}

header a {
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    
}

nav {
    display: flex;
    text-transform: uppercase;
    font-size: 1.85vh;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-weight: 500;
}

header nav ul li {
    margin-left: 2vh;
}

h1 {
    margin: 0;
    font-size: 2.2vh;
}

header img {
    width: 3vh;
    margin-right: 1.5vh;
}

main {
    margin: 0;
    padding: 0;
    
}

.intro {
    height: 50vh;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url('../images/intro.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: whitesmoke;
    padding: 3vh;
    
}

.intro p, .intro h2 {
    margin: 0;
}


.articles {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    grid-template-areas: 
        "one"
        "two"
        "three";
    padding: 2vh;
    max-width: 100vh;
    margin: 0 auto;
}

.articles article {
    background-color: white;
    padding: 2vh;
    border-radius: 8px;
}

.articles h3, .articles p{
    margin: 1vh 0;
}

article img {
    width: 100%;
    max-height: 250px;
}

article:nth-child(1){
    grid-area: one;
} 

article:nth-child(2){
    grid-area: two;
}

article:nth-child(3){
    grid-area: three;
}

article:nth-child(4){
    grid-area: four;
}

article:nth-child(5){
    grid-area: five;
}

article:nth-child(6){
    grid-area: six;
}

article:nth-child(4), article:nth-child(5), article:nth-child(6) {
    display: none;
}